@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-btn text-t-primary py-2 px-4 font-medium text-center rounded transition outline-none delay-75;

        &:hover {
            @apply bg-t-secondary scale-105 cursor-pointer;
        }
    }

    .btn-secondary {
        @apply border-[1px] border-btn text-t-primary py-2 px-4 font-medium text-center rounded transition outline-none delay-75;

        &:hover {
            @apply border-t-secondary scale-105 cursor-pointer text-slate-700 bg-btn;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    outline: none;
}

/* for Servicesliding */
.box {
    width: 100%;
    margin: auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tab {
    background: transparent;
    flex: 1;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.active-tab {
    border: none;
    background: #fff;
}

.contents {
    position: absolute;
}

.content {
    display: none;
    position: relative;
}

.active-content {
    display: block;
    transition: all 1s ease-in-out;
    background: #fff;
    padding: 40px;
}


.card-container {
    position: relative;
    overflow: hidden;
}

.card-container img {
    width: 100%;
    height: 100%;
}

/* .card-container::after{
    opacity: 0;
    position: absolute;
    z-index: 0;
    content: '';
    width: 30%;
    height: 30%;
    bottom: 20px;
    right:40%;
    background-color: #F67629;
    transform: rotate(45deg);
    filter: blur(20px);
} */
.card-content {
    position: absolute;
    overflow: hidden;
    bottom: 10;
    padding: 13px;
    z-index: 1;
    transition: all 3s ease-in-out;
}

.card-container:hover .card-content {
    top: 8rem;
    display: block;
    transition: all 3s ease-in-out;

}

.card-container:hover img {
    opacity: 0.2;
    scale: 1.03;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.serviceCardIT:hover .serviceCards {
    background: #F67629;
}

.serviceCardIT:hover .texts {
    color: white;
}

.serviceCardIT:hover .texts {
    color: white;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader-container.hidden {
    display: none;
}

/* Loader.css */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
    /* Takes full screen height */
}

.spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-left-color: #0b1a5f;
    /* Primary color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.line {
    transform-origin: 0%;
}