@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .btn-primary{
         @apply bg-btn text-t-primary py-2 px-4 font-medium text-center rounded transition outline-none delay-75;
         &:hover{
             @apply bg-t-secondary scale-105 cursor-pointer;
         }
    }
    .btn-secondary{
        @apply border-[1px] border-btn text-t-primary py-2 px-4 font-medium text-center rounded transition outline-none delay-75;
        &:hover{
            @apply border-t-secondary scale-105 cursor-pointer;
        }
   }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    outline: none;
}


/* for Servicesliding */
.box{
    width: 100%;
    margin: auto;
}
.tabs{
    display: flex;
    justify-content: space-between;
}
.tab{
    background: transparent;
    flex: 1;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.active-tab{
    border: none;
    background: #fff;
}

.contents{
    position: absolute;
}

.content{
    display: none;
    position: relative;
}
.active-content{
    display: block;
    transition: all 1s ease-in-out;
    background: #fff;
    padding: 40px;
    
}